.box-info-product{
    text-align:center;
}
.box-social-links{
    justify-content: center;
}
.discount{
    text-align: center;
}
.box-discounts{
    margin-bottom: 50px;
}
.features-pg{
    padding: 10px;
    text-align: center;
}
.features-pay{
    margin-top: 30px;
}
.box-character{
    margin-top:30px;
    border-top:solid 1px lightgrey;
}
.title-ch-product{
    margin:0px;
    padding: 15px;
}
.txt-p-character{
    padding: 10px;
}
.title-rw-product{
    margin:0px;
    padding: 15px;
    border-top:solid 1px lightgrey;
    border-bottom:solid 1px lightgrey;
}
.txt-reviwes{
    padding: 10px;
    margin:0px;
}
.name-rw{
    padding: 10px;
    margin-bottom: 0px;
}
.add-reviwes-txt-product{
    padding-bottom: 25%;
}
.add-reviwes-box-name-email{
    flex-direction: column;
    margin:10px 0px;
}
.add-reviwes-txt-name{
    width: 100%;
    margin:10px 0;
}
.add-reviwes-txt-email{
    width: 100%;
    margin:0px;
}
.add-reviwes-send{
    width: 100%;
}