.product{
    &-title{
        font-size: 60px;
        font-family: "Cassandra";
    }
    &-subtitle{
        font-size: 16px;
        font-family: "Philosopher";
        color:#848484;
    }
}
.lightgallery{

}