.pay-product{
    margin:0px;
}
.button-for-buy-product{
    margin:0px;
}
.features-pg{
    padding-left:25px;
}
.box-discounts{
    margin-top:15px;
}
.social-links{
    width:30px;
    height:30px;
    padding:3px;
}
.features-pay{
    margin-top:20px;
}
.features-exchange{
    margin-top:20px;
}
.discount{
    margin-top: 10px;
    margin-bottom:5px;
    font-size: 15px;
}
.character-product{
    padding:15px 20px;
}
.name-rw{
    margin-bottom:15px;
}
.add-reviwes-box-name-email{
    margin:15px 0px;
}
.add-reviwes-send{
    width: 45%;
}
.txt-p-character{
    padding:15px;
}
.add-reviwes-txt-product{
    padding-bottom: 20%;
}