@font-face {
  font-family: 'Philosopher';
  src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
}
@font-face {
  font-family: 'Philosopher';
  src: url(../fonts/Philosopher/Philosopher-Italic.ttf);
  font-style:italic;
}
 @font-face {
   font-family: 'Futurademic';
   src: url(../fonts/Futurademic/futurademic.otf);
}
@font-face {
   font-family: 'Cassandra';
   src: url(../fonts/Cassandra/cassandra.ttf);
}
@font-face {
 font-family: 'AdineKimberg';
 src: url(../fonts/AdineKirnberg/AdineKirnberg.ttf);
}

// @font-face {
//   font-family: 'Geometria-Heavy';
//   src: url(../fonts/Geometria-Heavy.otf);
// }

// @font-face {
//   font-family: 'Geometria-HeavyItalic';
//   src: url(../fonts/Geometria-HeavyItalic.otf);
// }

// @font-face {
//   font-family: 'Geometria-Italic';
//   src: url(../fonts/Geometria-Italic.otf);
// }

// @font-face {
//   font-family: 'Geometria-Light';
//   src: url(../fonts/Geometria-Light.otf);
// }

// @font-face {
//   font-family: 'Geometria-LightItalic';
//   src: url(../fonts/Geometria-LightItalic.otf);
// }

// @font-face {
//   font-family: 'Geometria-Medium';
//   src: url(../fonts/Geometria-Medium.otf);
// }

// @font-face {
//   font-family: 'Geometria-MediumItalic';
//   src: url(../fonts/Geometria-MediumItalic.otf);
// }

// @font-face {
//   font-family: 'Geometria-Thin';
//   src: url(../fonts/Geometria-Thin.otf);
// }

// @font-face {
//   font-family: 'Geometria-ThinItalic';
//   src: url(../fonts/Geometria-ThinItalic.otf);
// }

// @font-face {
//   font-family: 'LatoBold';
//   src: url(../fonts/LatoBold.ttf);
// }

// @font-face {
//   font-family: 'LatoBoldItalick';
//   src: url(../fonts/LatoBoldItalick.ttf);
// }

// @font-face {
//   font-family: 'LatoItalic';
//   src: url(../fonts/LatoItalic.ttf);
// }

// @font-face {
//   font-family: 'LatoLight';
//   src: url(../fonts/LatoLight.ttf);
// }

// @font-face {
//   font-family: 'LatoLightItalic';
//   src: url(../fonts/LatoLightItalic.ttf);
// }

// @font-face {
//   font-family: 'LatoRegular';
//   src: url(../fonts/LatoRegular.ttf);
// }

// @font-face {
//   font-family: 'RobotoCondensed-Bold';
//   src: url(../fonts/RobotoCondensed-Bold.ttf);
// }

// @font-face {
//   font-family: 'RobotoCondensed-BoldItalic';
//   src: url(../fonts/RobotoCondensed-BoldItalic.ttf);
// }

// @font-face {
//   font-family: 'RobotoCondensed-Italic';
//   src: url(../fonts/RobotoCondensed-Italic.ttf);
// }

// @font-face {
//   font-family: 'RobotoCondensed-Light';
//   src: url(../fonts/RobotoCondensed-Light.ttf);
// }

// @font-face {
//   font-family: 'RobotoCondensed-LightItalic';
//   src: url(../fonts/RobotoCondensed-LightItalic.ttf);
// }

// @font-face {
//   font-family: 'RobotoCondensed-Regular';
//   src: url(../fonts/RobotoCondensed-Regular.ttf);
// }

// @font-face {
//   font-family: 'Roboto-Bold';
//   src: url(../fonts/Roboto-Bold.ttf);
// }

// @font-face {
//   font-family: 'Roboto-Light';
//   src: url(../fonts/Roboto-Light.ttf);
// }

// @font-face {
//   font-family: 'Roboto-Medium';
//   src: url(../fonts/Roboto-Medium.ttf);
// }

// @font-face {
//   font-family: 'Roboto-Regular';
//   src: url(../fonts/Roboto-Regular.ttf);
// }

// @font-face {
//   font-family: 'Roboto-Thin';
//   src: url(../fonts/Roboto-Thin.ttf);
// }