@import "variables-functions-and-mixins";

::selection { background: rgba($green-color, .5); }
* { font-family: "Montserrat", Serif; }
.container-fluid {max-width: 1480px;}
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

@import 'media';
@import "fonts";
nav {
    box-shadow: 0px 7px 15px lightgrey;
}
.breadcrumbs{
    &-nav{
        margin-top: 32px;
        display: flex;
        padding:0px;
        list-style-type: none;
        &-item{
            font-family: "Philosopher";
            margin-right: 15px;
            font-size: 13px;
        }
        &-link{
            font-family:"Philosopher";
            color:black;
            &:hover{
                text-decoration:none;
                color:$theme-color;
            }
        }
    }
}
/* ???ܧ??ӧѧ֧????ѧݧ???????ܧҧ???*/
.checkbox {
    display: none;
}
/* ???ѧէѧ֧??ӧߧ֧??ڧ??ӧڧ??էݧ??ߧѧ??ԧ??ܧѧ????ߧ??????ܧҧ???. ???? ?????ѧ??ݧ???????????ӧ????????ާ֧ߧ????ӧѧߧ? ?????ݧ?????ا????????ӧ??ާ֧ߧ??? ?? ?ӧѧ??ާ????ާ????ߧڧ?*/
.checkbox-custom {
    position: relative;      /* ???ҧ??ѧ??ݧ????٧ѧէѧ֧? ???????ާ??ާ??ݧ??ѧҧ??ݧ??ߧ???????٧? ???٧ڧ????ڧ??ӧѧ? ???֧ӧէ??ݧ֧ާ֧ߧ??ӧߧ??? ?ߧѧ??ԧ??ܧѧ????ߧ??????ܧҧ??? */
    width: 20px;             /* ???ҧ??ѧ??ݧ????٧ѧէѧ֧??????ߧ?*/
    height: 20px;            /* ???ҧ??ѧ??ݧ????٧ѧէѧ֧??ӧ???? */
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* ???ѧ????ߧ?????ܧҧ??????ݧ֧ۧҧ????ߧ??ڧ??֧??? ?ӧ֧??ڧܧѧݧ? ???????ӧѧ??????ߧ????֧ҧ????? ?? ?ӧ??ާ??֧? ?????? ???????ӧ?vertical-align: middle ?ڧ??էѧߧߧ??????ѧӧڧݧ? ?ߧ????????ӧ?display: inline-block ?????ѧ??ݧ????է??اߧ??ҧ?? */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
    color:black;
    font-family: "Philosopher";
    font-size:16px;
    font-weight: lighter;
}
/* ?????????ѧݧ???????ܧҧ??????ߧѧ????ާ֧??? ?? ???ԧէ??է??ѧӧݧ????էѧߧߧ?????ڧ٧ߧѧ??????ߧѧ??ާ??ܧѧ????ߧ??????ܧҧ???  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* ?????ѧӧݧ????ߧѧ????֧ӧէ??ݧ֧ާ֧ߧ?*/
    display: block;          /* ???֧ݧѧ֧??֧ԧ??ҧݧ??ߧ?????֧ާ֧ߧ???*/
    position: absolute;      /* ?????ڧ????ڧ??֧??֧ԧ??ѧҧ??ݧ??ߧ???????٧? */
    /* ???ѧէѧ֧??????????ڧ??? ?ӧ֧??ߧ֧? ???ѧӧ?, ?ߧڧاߧ֧????ݧ֧ӧ? ?ԧ??ߧڧ? */
    top: 3px;
    right: 3px;
    bottom: 4px;
    left: 2px;
    background-image: url(../img/checkbox.png);
    background-size: cover;
    background-repeat: no-repeat;     /* ?????ѧӧݧ??????? ?????????֧ҧ????? ?ާ??֧? ?????ѧӧڧ? ???է??ܧѧ??ڧߧܧ????ӧڧէ?"?ԧѧݧ??ܧ?, ?ܧ????ѧ??ҧ??֧????ާӧ??ڧ٧ڧ??ӧѧ?, ???????ܧҧ??????ާ֧???*/
    border-radius: 2px;
}
.shops{
    &-title{
    font-family: "Cassandra";
    font-size: 60px;
    }
    &-items{
        list-style-type: none;
        & li{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &-box{
        border:solid 1px lightgrey;
    }
    &-stats-items{
        padding:0px;
        margin:0px;
        list-style-type: none;
        display: flex;
        align-items: center;

    }
    &-stats-item{
        width:50%;
    }
}
