{% load static from staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link type="text/css" rel="stylesheet" href="{% static "products/libs/lightgallery/dist/css/lightgallery.css" %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lucia&amp;Liza</title>
    <link rel="stylesheet" href="{% static "products/css/libs.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "products/css/main.css" %}">
</head>
<body>
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="header-box">
                <div class="col-md-4 col-xs-12">

                    {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" style="color: red" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                    {% endif %}

                    <form class="header-form" action="{% url 'search' %}">
                        <input class="header-form-search" name="query" placeholder="Поиск" type="search" maxlength="30" required>
                    </form>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="header-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static "products/img/logo.png" %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="header-box-shop">
                        <div class="header-textshop">
                            <span class="header-text">Бесплатно по Украине</span>
                            <br>
                            <span class="header-number">+38 (063) 123 45 58</span>
                        </div>
                        <div class="header-shop">
                            <div class="header-shop-heart"><img src="{% static "products/img/icon-shop.png" %}" alt="heart"><span class="header-shop-heart-number">0</span></div>
                            <a class="header-shop-basket" href="#Корзина">Корзина</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="header-navigation">
<nav>
<div class="containerss">
<label for="mobile-button"><i class="fa fa-bars"></i></label>
<input id="mobile-button" type="checkbox">
<ul class="top-menu">
  <li class="link-standart"><a href="{% url 'catalogue' %}" class="dropdown dropdown-standart">Каталог</a></li>
  <li class="link-standart"><a href="" class="dropdown dropdown-standart">О компании</a></li>
  <li><a href="">Наши услуги</a></li>
  <li><a href="">Новости</a></li>
  <li><a href="">Контакты</a></li>
</ul>
</div>
</nav>
</div>
</div>

{% block content %}

<section class="slider">
    <div class="owl-carousel slide-one">
      <div>  <div class="slider-img" style="background-image:url({% static "products/img/slider-background.png" %});"></div> </div>
      <div>  <div class="slider-img"></div> </div>
      <div>  <div class="slider-img"></div> </div>
      <div>  <div class="slider-img"></div> </div>
      <div>  <div class="slider-img"></div> </div>
      <div>  <div class="slider-img"></div> </div>
      <div>  <div class="slider-img"></div> </div>
    </div>
</section>
<section class="shop">
    <div class="container-fluid">
        <div class="row">
            <div id="sales" class="col-md-12"><h2 class="shop-title">Акции</h2></div>
            <div class="col-md-12">
                <div class="shop-box">
                    <ul class="shop-box-menu">
                        {% for category in categories %}
                        <li class="shop-box-item"><a class="shop-box-link" href="{% url 'category' category.pk %}#sales">{{ category.title }}</a></li>
                        {% endfor %}
                        <li class="shop-box-item"><a class="shop-box-link" href="{% url 'home' %}#sales">Sales</a></li>
                    </ul>
                </div>
            </div>
            <div class="shop-items">
                <div class="shop-items-onecolumn">

                    {%  for item in object_list %}

                    <div class="test">
                            <a href="{% url 'item' item.pk  %}">
                                <div class="shop-item">
                                    <img class="shop-item-likeimg" src="{{ item.title_image.url }}" alt="">
                                    <div class="test-test"><img class="shop-item-productimg" src="{{ item.title_image.url }}" alt=""></div>
                                    <div class="shop-item-name">{{ item.title }}</div>
                                    <div class="shop-item-prices">
                                        <div class="shop-item-saleprice">{{ item.get_first_specs.price }} грн</div><div class="shop-item-price">{{ item.get_first_specs.sales_price }} грн</div>
                                    </div>
                                </div>
                            </a>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="description-box">
                    <div class="description-title"><img src="{% static "products/img/brackets.png" %}" alt=""></div>
                    <div class="description-text">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру  сгенерировать несколько абзацев более менее осмысленого текста</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news">
    <div class="container-fluid">
        <div class="row">
            <h2 class="news-title">Последние новости</h2>
            <div class="col-md-2">
               <a href="#"><img class="news-img-discont" src="{% static "products/img/img-news-1.png" %}" alt=""></a>
            </div>
            <div class="col-md-7">
                    {% for item in news %}
                    <div class="news-one-post">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#"><img class="news-one-post-img" src="{% static "products/img/img-news-2.png" %}" alt=""></a>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <div class="news-one-post-data"><a class="news-one-post-data-link" href="#">{{ item.created|date:'d-m-Y' }}</a></div>
                                <div class="news-one-post-title"><a class="news-one-post-title-link" href="#">{{ item.title }}</a></div>
                                <div class="news-one-post-description"><a class="news-one-post-description-link" href="#">{{ item.text|truncatechars:150 }}</a></div>
                                <a class="news-one-post-link" href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <div class="col-md-3">
                <div class="item-sale">
                    <div class="item-sale-title"><a class="item-sale-title-link" href="#">Рыба текст</a></div>
                    <a href="#"><img class="item-sale-img" src="{% static "products/img/item-salecounter.png" %}" alt=""></a>
                    <div class="item-sale-description"><a class="item-sale-description-link" href="#">Рыбатекст поможет дизайнеру , верстальщику, вебмастеру сгенерировать</a></div>
                </div>
            </div>
            </div>
        </div>
</section>
<section class="callback-news">
    <h2 class="callback-news-title">Подпишитесь на наши новости</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="callback-news-form">
                    <p class='callback-news-form-email' id="message" style="text-align: center"></p>
                    <form id="mail_form" method="post" action="{% url 'email' %}">
                        {% csrf_token %}
                        {% render_field form.email class='callback-news-form-email' placeholder="Введите ваш e-mail" %}
                        <input class="callback-news-form-button" type="submit" value="Подписаться">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="features-box">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 features-box-icon">
                                <img src="{% static "products/img/icon-features.png" %}" alt="">
                                <div class="features-description">Бесплатная доставка</div>
                            </div>
                            <div class="col-md-4 col-sm-4 features-box-icon">
                                <img src="{% static "products/img/icon-features2.png" %}" alt="">
                                <div class="features-description">Поддержка 24/7</div>
                            </div>
                            <div class="col-md-4 col-sm-4 features-box-icon">
                                <img src="{% static "products/img/icon-features3.png" %}" alt="">
                                <div class="features-description">ТОП продавец</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock content %}

<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="footer-logo">
                   <a href="{% url 'home' %}"><img src="{% static "products/img/logo.png" %}" alt=""></a>
                    <div class="footer-number">+38 (063) 123 45 67</div>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="footer-name-nav">Каталог</div>
                <ul class="footer-nav">
                    <li class="footer-item"><a class="footer-link" href="#">Акссесуары</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Браслеты</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Колье/Подвески</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Кольца</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Крестики</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 footer-box-item col-xs-6">
                <div class="footer-box-nav-collection">
                    <ul class="footer-nav">
                        <li class="footer-item"><a class="footer-link" href="#">Наборы</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Перстни</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Серьги</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Черные бриллианты</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Юбилей / Помолвка</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="footer-box-nav-collection footer-box-nav-collection-sm">
                    <ul class="footer-nav">
                        <li class="footer-item"><a class="footer-link" href="#">Женская линейка Revived 925</a></li>
                        <li class="footer-item"><a class="footer-link" href="#">Мужская линейка Lion’s Heart</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6">
                <div class="footer-name-info">Информация</div>
                <ul class="footer-nav">
                    <li class="footer-item"><a class="footer-link" href="#">О компании</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Наши услуги</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Новости</a></li>
                    <li class="footer-item"><a class="footer-link" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="certificate">
    <div class="certificate-boxvisa">
        <div class="certificate-visa">Принимаем к оплате</div>
        <img src="{% static "products/img/visa-mastercard.png" %}" alt="">
    </div>
    <div class="certificate-boxliqpay">
        <div class="certificate-liqpay">Безопасные платежи</div>
        <img src="{% static "products/img/liqpay.png" %}" alt="">
    </div>
    <div class="certificate-boxsmm">
        <div class="certificate-smm">Присоединяйтесь к нам</div>
            <a href="#"><img src="{% static "products/img/facebook.png" %}" alt="facebook"></a>
            <a class="certificate-linkinstagramm" href="#"><img src="{% static "products/img/instagramm.png" %}" alt="instagramm"></a>
            <a href="#"><img src="{% static "products/img/youtube.png" %}" alt="youtube"></a>
    </div>
</div>
</body>
<script src="{% static "products/js/libs.min.js" %}"></script>
<script src="{% static "products/js/main.js" %}"></script>
<script src="{% static "products/libs/lightgallery/dist/js/lightgallery.min.js" %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="{% static "products/libs/lg-thumbnail/dist/lg-thumbnail.min.js" %}"></script>
<script src="{% static "products/libs/lg-fullscreen/dist/lg-fullscreen.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
</html>

