{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LuciaLisa - {% block meta_title %}{% endblock meta_title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={% static "products/css/main.css" %}>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <h4 class="navbar-text"><a href="{% url 'home' %}">LuciaLisa</a></h4>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'catalogue' %}">Catalogue</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href={% url 'cart' %}>Cart {% if cart_length %}{{ cart_length }}{% endif %}</a></li>
            </ul>
        </nav>

        {% block content %}

        <p id="message"></p>

          <form id="mail_form" method="post" action="{% url 'email' %}">
              {% csrf_token %}

            {{ form.email }}

          <input type="submit" value="Sign in">
          </form>

        {% endblock content %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "products/js/main.js" %}"></script>
</body>
</html>

