nav {
    box-shadow: 0px 7px 15px lightgrey;
}
.breadcrumbs{
    &-nav{
        margin-top: 32px;
        display: flex;
        padding:0px;
        list-style-type: none;
        &-item{
            font-family: "Philosopher";
            margin-right: 15px;
            font-size: 13px;
        }
        &-link{
            font-family:"Philosopher";
            color:black;
            &:hover{
                text-decoration:none;
                color:$theme-color;
            }
        }
    }
}
.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
    color:black;
    font-family: "Philosopher";
    font-size:16px;
    font-weight: lighter;
}
.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 4px;
    left: 2px;
    background-image: url(../img/checkbox.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
}
.shops{
    margin-bottom:30px;
    &-title{
    font-family: "Cassandra";
    font-size: 60px;
    }
    &-items{
        list-style-type: none;
        & li{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &-box{
        display: flex;
        border:solid 1px lightgrey;
    }
    &-sortirovka{
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: black;
        font-family: "Philosopher";
        font-size: 16px;
        width:50%;
        float: left;
    }
    &-show{
        display: flex;
        align-items: center;
        color: black;
        font-family: "Philosopher";
        font-size: 16px;
        float: right;
        width:50%;
        justify-content: flex-end;
        .open > .dropdown-menu{
            min-width: 62px;
        }
        .dropdown-item{
            padding: 10px 0px ;
        }
    }
    &-items{
        .test{
            width:33.3%;
            &-link{
                    text-decoration: none;
            }
        }
    }
    &-footer{
        margin-left: -1px;
        margin-right: 1px;
        display: flex;
        border:solid 1px lightgrey;
        &-prev{
            width:33.3%;
            display: flex;
            &-link{
                padding: 15px 25px;
                font-family:"Philosopher";
                font-size: 16px;
                color: grey;
                &:hover{
                    text-decoration:none;
                    color: black;
                    & img{
                        opacity: 1;
                    }
                }
            }
            &-img{
                opacity: .3;
            }
        }
        &-next{
            width:33.3%;
            display: flex;
            justify-content: flex-end;
            &-link{
                margin-right: -1px;
                padding: 15px 25px;
                color:grey;
                font-family: "Philosopher";
                font-size: 16px;
                border-left:none;
                &-active{
                    background: $theme-color;
                    color: black;
                    & img{
                        opacity: 1;
                    }
                }
                &:hover{
                    text-decoration:none;
                    color:black;
                    & img{
                        opacity: 1;
                    }
                }
            }
            &-img{
                opacity: .3;
            }
        }
        &-counter{
            width:33.3%;
            display: flex;
            &-items{
                padding: 0px;
                margin: 0px;
                list-style: none;
                display: flex;
                width: 100%;
                justify-content: center;
            }
            &-item-active{
                background: $theme-color;
            }
            &-link-active{
                display: block;
                padding: 15px 20px;
                color:black;
                font-family: "Philosopher";
                font-size:16px;
                &:hover{
                    text-decoration:none;
                    color:white;
                }
            }
            &-link{
                display: block;
                padding: 15px 20px;
                color:black;
                font-family: "Philosopher";
                font-size:16px;
                &:hover{
                    text-decoration:none;
                    color: $theme-color;
                }
            }
        }
    }
}
.btn{
    font-family: "Philosopher";
    padding: 10px 20px;
    color:black;
    font-size: 16px;
}
.open  > .dropdown-menu{
    display: flex;
    min-width: 140px;
    margin-left: 10px;
    top: -3px;
    box-shadow: none;
    border:solid 1px lightgrey;
    border-radius:0px;
    flex-direction: column;
    text-align: center;
    box-shadow:1px 0px 16px rgba(black,.14);
    &:hover{
        color:$theme-color;
    }
}
.dropdown-item{
    color:black;
    font-size: 16px;
    padding:15px 0px;
    font-family: "Philosopher";
    content:"";
    &:hover{
        text-decoration:none;
        color:$theme-color;
    }
}
.shops-footer-prev-2{
    display: none;
}
.shops-footer-next-2{
    display:none;
}




.shops-footer-prev-link {
  padding: 15px 25px;
  font-family: "Philosopher";
  font-size: 16px;
  color: grey;
}

.shops-footer-prev-link-active {
  padding: 15px 25px;
  font-family: "Philosopher";
  font-size: 16px;
  color: black;
  background: #f7ceb0;
}

.shops-footer-prev-link-active:hover {
  text-decoration: none;
  color: white;
}

.shops-footer-next-link {
  margin-right: -1px;
  padding: 15px 25px;
  font-family: "Philosopher";
  font-size: 16px;
  border-left: none;
  color: grey;
}

.shops-footer-next-link-active {
  margin-right: -1px;
  padding: 15px 25px;
  color: black;
  background: #f7ceb0;
  font-family: "Philosopher";
  font-size: 16px;
  border-left: none;
}

.shops-footer-next-link-active:hover {
  text-decoration: none;
  color: white;
}